#keypress-mini-game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    height: 200px;
    font-family: 'Roboto';
}

#keypress-mini-game .ui-progressbar {
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.5);
    height: 20px;
    width: 50%;
    margin-top: 20px;
}

#keypress-mini-game h3 {
    color: rgba(31, 30, 30, 0.8);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

/* Style the progress indicator */
#keypress-mini-game .ui-progressbar-value {
    border-radius: 30px;
    height: 20px;
}

.timer-bar .ui-progressbar-value {
    background-color: green;
    transition: background-color 0.3s;
}

.timer-bar.yellow .ui-progressbar-value {
    background-color: yellow;
}

.timer-bar.orange .ui-progressbar-value {
    background-color: orange;
}

.timer-bar.red .ui-progressbar-value {
    background-color: red;
}

@keyframes flash {
    0%   { opacity: 1; }
    50%  { opacity: 0.5; }
    100% { opacity: 1; }
}

.timer-bar.slow-flash .ui-progressbar-value {
    animation: flash 1s linear infinite;
}

.timer-bar.medium-flash .ui-progressbar-value {
    animation: flash 0.5s linear infinite;
}

.timer-bar.fast-flash .ui-progressbar-value {
    animation: flash 0.25s linear infinite;
}

.target-char {
    font-size: 6rem;
    color: rgba(31, 30, 30, 0.8);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    font-weight: bold;
    margin-top: 10px;
}

#keypress-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}