/*----------------------------*/
/*---- BOII | DEVELOPMENT ----*/
/*----------------------------*/

#settings-container {
    position: fixed;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto;
    gap: 2%;
    width: 26.75vw;
    height: 5vh;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding-left: 0.75vw;
    padding-right: 0.75vw;
    padding-top: 1vh;
    padding-bottom: 5vh;
    top: 0;
    left: 0;
}

.settings-grid-container {
    position: absolute;
    width: 30vw;
    height: 5vh;
    display: grid;
    grid-template-columns: 8ch 8ch 8ch 8ch 8ch 8ch 8ch;
    grid-template-rows: auto;
    gap: 2%;
    padding: 2%;
}

.settings-grid-container div {
    text-align: center;
    background: rgba(255, 255, 255, 0.5) !important;
    background-size: cover;
    background-position: center center;
    box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px 1px;
    border-radius: 15px;
    color: rgba(0, 0, 0, 0.2);
}

.settings-grid-container div:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px 1px;
    color: rgba(0, 0, 0, 0.4);
}

.notification-toggle i {
    margin-top: 1vh;
    font-size: 2rem;
}

.drawtext-toggle i {
    margin-top: 1vh;
    font-size: 2rem;
}

.progress-toggle i {
    margin-top: 1vh;
    font-size: 2rem;
}

.skillcircle-toggle i {
    margin-top: 1vh;
    font-size: 2rem;
}

.chiphack-toggle i {
    margin-top: 1vh;
    font-size: 2rem;
}

.keydrop-toggle i {
    margin-top: 1vh;
    font-size: 2rem;
}

.anagram-toggle i {
    margin-top: 1vh;
    font-size: 2rem;
}

.codecrack-toggle i {
    margin-top: 1vh;
    font-size: 2rem;
}


.settings-move i {
    position: absolute; 
    top: 6.5vh;
    right: 17vw;
    font-size: 3rem; 
    color:rgba(255,255,255,0.5)
}

.settings-move i:hover {
    cursor: pointer;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7)
}

.settings-save i {
    position: absolute; 
    top: 7vh;
    right: 13.4vw;
    font-size: 2.3rem; 
    color:rgba(255,255,255,0.5)
}

.settings-save i:hover {
    cursor: pointer;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7)
}

.settings-close i {
    position: absolute; 
    top: 6.9vh;
    right: 9.25vw;
    font-size: 2.2rem; 
    color:rgba(255,255,255,0.5)
}

.settings-close i:hover {
    cursor: pointer;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7)
}