/*
     ____   ____ _____ _____   _   _____  ________      ________ _      ____  _____  __  __ ______ _   _ _______ 
    |  _ \ / __ \_   _|_   _| | | |  __ \|  ____\ \    / /  ____| |    / __ \|  __ \|  \/  |  ____| \ | |__   __|
    | |_) | |  | || |   | |   | | | |  | | |__   \ \  / /| |__  | |   | |  | | |__) | \  / | |__  |  \| |  | |   
    |  _ <| |  | || |   | |   | | | |  | |  __|   \ \/ / |  __| | |   | |  | |  ___/| |\/| |  __| | . ` |  | |   
    | |_) | |__| || |_ _| |_  | | | |__| | |____   \  /  | |____| |___| |__| | |    | |  | | |____| |\  |  | |   
    |____/ \____/_____|_____| | | |_____/|______|   \/   |______|______\____/|_|    |_|  |_|______|_| \_|  |_|   
                              | |                                                                                
                              |_|               UI ELEMENTS
*/

.action_menu_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.actions.left, 
.actions.right {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    flex: 1;
}

.actions.left {
    align-items: flex-end;
}

.actions.right {
    align-items: flex-start; 
}

.action {
    border-radius: 15px;
    padding: 5px;
    font-weight: bold;
    display: flex;
    position: relative;
}

.action .label_container {
    position: relative;
    display: inline-flex;
    align-items: center;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
    border-radius: 10px;
    justify-content: space-between;
    gap: 15px;
    opacity: 0.8;
}

.action .label_container:hover {
    opacity: 1;
    cursor: pointer;
}

.action .label {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 16px;
    border: none;
    white-space: nowrap;
    width: fit-content;
    font-size: 0.8rem;
    background-color: #1f1e1e;
    color: #b4b4b4;
}

.action .icon {
    background-color: #1f1e1e;
    border-radius: 50px;
    padding: 8px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vh;
    width: 16px;
    height: 16px;
}

.center_button {
    background: #1f1e1e;
    border-radius: 50px;
    padding: 6px;
    width: 16px;
    height: 16px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2vh;
    color: white;
    opacity: 0.8;
    user-select: none;
    box-shadow: 2px 3px 3px #0d0c0c, -2px -3px 4px #b4b4b4;
}

.center_button:hover {
    opacity: 1;
    cursor: pointer;
}

.center_button i {
    margin-left: 2px;
    margin-top: 3px;
}
