.context_container {
    min-width: 300px;
    max-width: 400px;
    z-index: 1000;
    font-family: 'Roboto';
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
    border-radius: 15px;
}

.context_menu {
    background-color: rgba(31, 30, 30);
    border-radius: 15px;
    color: rgb(180, 180, 180);
    padding: 2%;
    overflow: auto;
    max-height: 800px;
}

.menu_header {
    display: flex;
    align-items: center;
    padding: 3%;
    font-size: 1.2rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

.menu_header_image {
    width: 30px;
    height: 30px;
}

.menu_header_text {
    font-weight: bold;
    margin-left: 10px;
}

.menu_option {
    display: flex;
    padding: 3%;
    transition: background-color 0.2s;
    cursor: pointer;
    justify-content: flex-start;
}

.context_menu > .menu_options > .menu_option:not(:last-child) {
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

.menu_option_image {
    width: 42px;
    height: 42px;
}

.menu_option_image, .menu_header_image {
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;
    padding: 1%;
}

.menu_option_content {
    flex-grow: 1;
}

.menu_option_header {
    font-weight: bold;
    font-size: 1rem;
}

.menu_option_message {
    font-size: 0.9rem;
    color: rgb(180, 180, 180);
}

.input_wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.list_wrapper,
.dropdown_wrapper {
    flex-direction: column;
}

.menu_option.dropdown_wrapper .submenu {
    display: flex;
    flex-direction: column;
}

.submenu {
    display: flex;
    flex-direction: column;
    width: 100%;
    list-style-type: none;
}

.submenu_option {
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    margin-top: 10px;
}

.submenu_option:last-child {
    border-bottom: none;
}

.player_id_input {
    margin-top: 5px;
}

.player_id_input, .main_input {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    border: none;
    color: inherit;
    padding: 3%;
    margin-bottom: 5px;
    outline: none;
    min-width: 100%;
}

.main_input[type="number"] {
    -webkit-appearance: none;
    -moz-appearance: textfield;
}

.main_input[type="number"]::-webkit-inner-spin-button,
.main_input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.submit_button {
    background-color: rgba(0, 0, 0, 0.5);
    color: inherit;
    border: none; 
    border-radius: 10px;
    padding: 5px; 
    cursor: pointer; 
    transition: background-color 0.2s;
}

.submit_button:hover {
    background-color: rgba(0, 0, 0, 0.75);
}

.menu_option_header {
    font-weight: bold;
    font-size: 1rem;
}

.menu_option_message {
    font-size: 0.9rem;
    color: inherit;
}

.submenu_option .menu_option_header {
    font-size: 0.9rem;
}

.submenu_option .menu_option_message {
    font-size: 0.8rem;
    color: inherit;
}

.list_main_wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.list_selector_wrapper {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    color: inherit
}
  
.chevron {
    color: rgba(180, 180, 180, 0.7);
    user-select: none;
    padding: 5px;
    cursor: pointer;
  }
  
.chevron.left:hover, .chevron.right:hover {
    color: rgba(180, 180, 180, 1);
}

.chevron.left {
    margin-left: 10px;
}

.chevron.right {
    margin-right: 10px;
}

.value_display {
    flex-grow: 1;
    text-align: center;
    color: rgba(180, 180, 180, 1);
}

.color_main_wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.color_picker_wrapper {
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 0, 0, 0.5);
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.color_input {
    min-width: 100%;
    height: 35px;
    border: none;
    background-color: transparent;
    -webkit-appearance: none;
}

.color_input::-webkit-color-swatch-wrapper {
    padding: 0;
}

.color_input::-webkit-color-swatch {
    border: none;
    border-radius: 10px;
}

.color_input::-moz-color-swatch {
    border: none;
    border-radius: 10px;
}

.checklist_wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.checklist {
    list-style-type: none;
    padding: 0;
}

.option_container {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-top: 10px;
}

.option_container.selected {
    background-color: rgba(0, 0, 0, 0.5);
}

.option_container:last-child {
    margin-bottom: 10px;
}

.checkmark {
    color: rgba(0, 0, 0, 0.5);
    min-width: 20px;
}

.option_container.selected .checkmark {
    color: rgba(0, 0, 0, 0.85);
}

.option_label {
    color: rgb(220, 220, 220);
}

.slider_wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.slider_container {
    position: relative;
    display: flex;
    align-items: center;
}

.slider_label {
    position: absolute;
    olor: inherit;
    font-size: 0.65rem;
}

.slider_label.min {
    left: 5px;
}

.slider_label.max {
    right: 5px;
}

.slider_value_container {
    text-align: center;
}

.slider_value {
    text-align: center;
    font-size: 0.8rem; 
}

.slider_input {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider_input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.slider_input::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.75);
    cursor: pointer;
}

.toggle_switch_wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.toggle_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle_switch_label {
    color: inherit;
}

.switch {
    position: relative;
    display: inline-block;
    width: 20%;
    height: 100%;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider_container {
    display: flex;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: .4s;
    transition: .4s;
    box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.5), inset -1px -1px rgba(0, 0, 0, 0.5);
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.5), inset -1px -1px rgba(0, 0, 0, 0.5);
}

input:checked + .slider:before {
    -webkit-transform: translateX(32px);
    -ms-transform: translateX(32px);
    transform: translateX(32px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}