/*
     ____   ____ _____ _____   _   _____  ________      ________ _      ____  _____  __  __ ______ _   _ _______ 
    |  _ \ / __ \_   _|_   _| | | |  __ \|  ____\ \    / /  ____| |    / __ \|  __ \|  \/  |  ____| \ | |__   __|
    | |_) | |  | || |   | |   | | | |  | | |__   \ \  / /| |__  | |   | |  | | |__) | \  / | |__  |  \| |  | |   
    |  _ <| |  | || |   | |   | | | |  | |  __|   \ \/ / |  __| | |   | |  | |  ___/| |\/| |  __| | . ` |  | |   
    | |_) | |__| || |_ _| |_  | | | |__| | |____   \  /  | |____| |___| |__| | |    | |  | | |____| |\  |  | |   
    |____/ \____/_____|_____| | | |_____/|______|   \/   |______|______\____/|_|    |_|  |_|______|_| \_|  |_|   
                              | |                                                                                
                              |_|               UI ELEMENTS
*/

.draw_text_container {
    position: fixed;
    top: 0;
    left: 0;
    width: fit-content; 
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    border-radius: 15px;
    min-height: 100px;
    min-width: 350px;
}

.draw_text_container.movable {
    cursor: move;
    
}

.draw_text {
    border-radius: 15px;
    background: rgba(20, 20, 20);
    border: 3px solid rgb(180, 180, 180);
    color: rgb(180, 180, 180);
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
    padding: 15px;
    position: relative;
    width: fit-content;
    opacity: 0.975;
}

.draw_text_header {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}

.draw_text_header i {
    margin-right: 5px;
}

.draw_text_message {
    font-size: 1rem;
    line-height: 1.2;
}

.draw_text_image {
    background-size: cover;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    position: absolute;
    top: 15px;
    left: 15px;
}