.notification_container {
    position: fixed;
    top: 0;
    left: 0;
    width: fit-content; 
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
    border-radius: 15px;
    min-height: 300px;
    min-width: 300px;
}

.notification_container.movable {
    cursor: move;
}

.notification {
    border-radius: 15px;
    color: rgb(180, 180, 180);
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
    padding: 15px;
    position: relative;
    width: fit-content;
    opacity: 0.975;
}

.notification_header {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}

.notification_header i {
    margin-right: 5px;
}

.notification_message {
    font-size: 1rem;
    line-height: 1.2;
}

.notification_image {
    background-size: cover;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    position: absolute;
    top: 15px;
    left: 15px;
}