/*----------------------------*/
/*---- BOII | DEVELOPMENT ----*/
/*----------------------------*/

#progress-container {
    position: fixed;
    width: 25vw;
    background: rgba(0, 0, 0, 0.0);
    border-radius: 15px;
    padding-left: 0.75vw;
    padding-right: 0.75vw;
    padding-top: 1vh;
    padding-bottom: 3vh;
    top: 0;
    left: 0;
}

.progress-main {
    padding: 1%;
    width: 98%;
    background: rgba(31, 30, 30, 0.9);
    border: 1px solid rgba(77, 203, 194, 1.0);
    border-radius: 15px;
    color: rgba(255, 255, 255, 1.0);
    font-family: 'Aldrich';
    box-shadow: 0px 0px 5px 0px rgba(77, 203, 194, 1.0);
    text-align: center;
    margin-bottom: 15px;
}

.progress-body {
    text-align: center;
}

.progress-header {
    position: relative;
    font-size: 1.1rem;
    min-inline-size: 10vw;
    font-weight: 600;
    margin-top: 0.2vh;
}

.progress-header i {
    position: relative;
    top: 0.3vh;
    margin-right: 0.4vw;
}

.progressbar {
    position: relative;
    max-width: 500px;
    width: 100%;
    margin-top: 5px;
    border-radius: 15px;
    height: 2vh;
    background: rgba(77, 203, 194, 0.8);
    overflow: hidden;
}
  
span.progress {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0;
    background: rgba(255, 255, 255, 0.12);
    transition: all .3s;
}

#progress-dummy-container {
    position: fixed;
    width: 25vw;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding-left: 0.75vw;
    padding-right: 0.75vw;
    padding-top: 1vh;
    padding-bottom: 3vh;
    top: 0;
    left: 0;
}

.progress-move i {
    position: absolute; 
    top: 6.5vh;
    right: 12.3vw;
    font-size: 3rem; 
    color:rgba(255,255,255,0.5)
}

.progress-move i:hover {
    cursor: pointer
}

.progress-dummy-main {
    padding: 1%;
    width: 98%;
    background: rgba(31, 30, 30, 0.5);
    border: 1px solid rgba(31,30,30, 0.1);
    border-radius: 15px;
    color: rgba(255, 255, 255, 1.0);
    font-family: 'Aldrich';
    box-shadow: 0px 0px 5px 0px rgba(31,30,30,  0.5);
    text-align: center;
    margin-bottom: 15px;
}

.progress-dummy-body {
    text-align: center;
}

.progress-dummy-header {
    position: relative;
    font-size: 1.1rem;
    min-inline-size: 10vw;
    font-weight: 600;
    margin-top: 0.2vh;
}

.progress-dummy-header i {
    position: relative;
    top: 0.3vh;
    margin-right: 0.4vw;
}

.progressbar-dummy {
    position: relative;
    max-width: 500px;
    width: 100%;
    margin-top: 5px;
    border-radius: 15px;
    height: 2vh;
    background: rgba(31,30,30, 0.3);
    overflow: hidden;
}