/*----------------------------*/
/*---- BOII | DEVELOPMENT ----*/
/*----------------------------*/

#notification-container {
    position: fixed;
    width: 28vw;
    background-color: rgba(0, 0, 0, 0.0);
    border-radius: 15px;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    padding-top: 1vh;
    padding-bottom: 5vh;
    top: 0;
    left: 0;
}

.notification {
    display: flex;
    padding: 1.5%;
    margin-bottom: 1.1vh;
    margin-left: 0.6vw;
    width: fit-content;
    block-size: fit-content;
    align-items: center;
    background: rgba(31, 30, 30, 0.9);
    border: 1px solid rgba(77, 203, 194, 1.0);
    border-radius: 15px;
    color: rgba(255, 255, 255, 0.9);
    font-family: 'Aldrich';
    box-shadow: 0px 0px 8px 0px rgba(77, 203, 194, 1.0);
    float: ;
}

.notification-image {
    min-height: 4.7vh;
    min-width: 2.8vw;
    margin: 1%;
    border: 1px solid rgba(77, 203, 194, 1.0);
    border-radius: 15px;
    background-image: url('/html/images/logo.png');
    background-size: cover;
    background-position: center;
    box-shadow: 0px 0px 8px 0px rgba(77, 203, 194, 1.0);
}

.notification-body {
    margin-left: 0.5vw;
}

.notification-header {
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 0.2vh;
}

.notification-message {
    font-size: 1.0rem;
    font-weight: 100;
    margin-top: 0.1vh;
    margin-right: 0.3vw;
}

.notification-header i {
    position: relative;
    top: 0.25vh;
    margin-right: 0.3vw;
}

.notification-message p {
    font-size: 1.0rem;
    align-items: center;
}

.notification-message i {
    position: relative;
    top: 0.25vh;
    margin-right: 0.5vw;
}


/* dummies */
#notification-dummy-container {
    position: fixed;
    width: 28vw;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    padding-top: 1vh;
    padding-bottom: 5vh;
    top: 0;
    left: 0;
}

.notification-dummy {
    display: flex;
    padding: 1.5%;
    margin-bottom: 1.1vh;
    margin-left: 0.6vw;
    width: fit-content;
    block-size: fit-content;
    align-items: center;
    background: rgba(31, 30, 30, 0.5);
    border: 1px solid rgba(31, 30, 30, 0.1);
    border-radius: 15px;
    color: rgba(255, 255, 255, 0.9);
    font-family: 'Aldrich';
    box-shadow: 0px 0px 8px 0px rgba(31, 30, 30, 0.5);
    float: ;
}

.notification-dummy-image {
    min-height: 4.7vh;
    min-width: 2.8vw;
    margin: 1%;
    border: 1px solid rgba(31, 30, 30, 0.5);
    border-radius: 15px;
    background-image: url('/html/assets/images/logo-grey.png');
    background-size: cover;
    background-position: center;
    box-shadow: 0px 0px 8px 0px rgba(31, 30, 30, 0.5);
}

.notification-dummy-body {
    margin-left: 0.5vw;
}

.notification-dummy-header {
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 0.2vh;
}

.notification-dummy-message {
    font-size: 1.0rem;
    font-weight: 100;
    margin-top: 0.1vh;
    margin-right: 0.3vw;
}

.notification-dummy-header i {
    position: relative;
    top: 0.25vh;
    margin-right: 0.3vw;
}

.notification-dummy-message p {
    font-size: 1.0rem;
    align-items: center;
}

.notification-dummy-message i {
    position: relative;
    top: 0.25vh;
    margin-right: 0.5vw;
}

.notification-move i {
    position: absolute; 
    top: 33.2vh;
    right: 16vw; 
    font-size: 3.5rem; 
    color: rgba(255,255,255,0.5)
}

.notification-move i:hover {
    cursor: pointer;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7)
}

.notification-float i {
    position: absolute; 
    top: 34vh;
    right: 9vw; 
    font-size: 2.5rem; 
    color: rgba(255,255,255,0.5)
}

.notification-float i:hover {
    cursor: pointer;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7)
}
