/*----------------------------*/
/*---- BOII | DEVELOPMENT ----*/
/*----------------------------*/

.codecrack-container {
    position: fixed;
    top: 350px;
    left: 800px;
    border-radius: 15px;
    background: rgba(31, 30, 30, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#codecrack-game-container {
    padding: 20px;
    border-radius: 15px;
    color: white;
    font-family: monospace;
    text-align: center;
    background: rgba(31, 30, 30, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
  
#codecrack-guess-input {
    padding: 5px;
    font-size: 20px;
    text-align: center;
    border: none;
    border-radius: 5px;
    background: rgba(31, 30, 30, 0.5);
    color: white;
}
  
#codecrack-guess-input:focus {
    outline: none;
}
  
button {
    padding: 5px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(77, 203, 194, 0.5);
    color: white;
    cursor: pointer;
}
  
button:hover {
    background-color: rgba(77, 203, 194, 0.8);
}
  
#remaining-attempts {
    font-weight: bold;
}
  
#guess-history {
    margin-top: 20px;
}
  
#guess-history p {
    margin: 5px 0;
}
  
#guess-history span {
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 20px;
}


#code-crack-dummy-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 22vh;
    width: 20vw;
    padding: 1%;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: 'Aldrich'
}

.code-crack-move i {
    position: absolute;
    top: 19.5vh;
    left: 9.5vw;
    font-size: 4rem; 
    color: rgba(255,255,255,0.5);
    cursor: pointer
}